html, body {
    margin:0;
    padding:0;
    font-family: system-ui;
    font-size: 62.5%;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#landing-container {
    color: #FEF5ED;
    padding-top: 35rem;
    padding-bottom: 35rem;

    background-color: #656565;
    background-image: url('../images/landing-bw.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

div#title{
    flex: 0 1 auto;
    position: absolute;

    font-size: 4.5rem;
    background-color: #1E2022;
    color: yellow;
}

div#arrow {
    flex: 0 1 auto;
    margin-left: auto;
    padding-right: 2rem;
}

#arrow a{
    color: yellow;
    font-size: 2rem;
    text-decoration: none;
}

#arrow a:hover{
    color: #F0F5F9;
}

#nav-container {
    display: flex;
}

ul#navbar {
    margin: 0;
    padding: 1rem;
    width: 100%;

    list-style-type: none;
    background-color: #1E2022;
    font-size: 1.75rem;

    display: flex;
    gap: 1.75em;
    justify-content: center;
}

.nav-item a, a:visited, a:hover{
    text-decoration: none;
    color: #F0F5F9;
}

.nav-item a:hover {
    color: #C9D6DF;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10rem;
    padding-bottom: 10rem;
}
    
.header {
    font-size: 4.5rem;
    color: #1E2022;
    margin-bottom: 3rem;
}

#profile, #contact {
    background-color: #F0F5F9;
}

#profile-container {
    display: flex;
    justify-content: space-between;
    gap: 5.5rem;
}

#about-container {
    width: 24rem;
}

#about-container span {
    font-size: 2.5rem;
    color: #52616B;
}

#about-para {
    margin-top: 0.75rem;
    font-size: 1.5rem;
    color: #1E2022;
    line-height: 2.2ch;
}

#about-para a {
    color: inherit
}

#about-para a:hover{
    color: #52616B;
}

.linked-in-button{
    margin-top: 0.75rem;
    background-color: white;
    text-decoration: none;
    border: 1px solid #0072b1;
    border-radius: 0.3rem;
}

.linked-in-button img {
    padding-top: 0.4rem;
    width: 6.5rem;
}

img#pfp {
    width: 22.5rem;
    height: auto;
    border-radius: 50%;
    border: 0.75rem solid #52616B;
    opacity: 0.9;
}

#projects {
    background-color: #C9D6DF;
}

#projects-container {
    display: flex;
    gap: 5rem;
}

.project-card {
}

.project-card img {
    width: 15rem;
    height: auto;
    border-radius: 0.5rem;
}
