html, body {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #76323F;
    padding: 5px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #f1f1f1;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.navbar img { 
    width: 50px;  
    height: auto;
}


.header {
    background-color: #f1f1f1;
    padding: 5px;
}

.about {
    background-color: #d7cec7;
    padding: 5px;
}

.projects {
    background-color: #f1f1f1;
    padding: 5px;
}

.soccer {
    background-color: #d7cec7;
    padding: 5px;
}

.hobbies {
    background-color: #f1f1f1;
    padding: 5px;
}

.footer {
    background-color: #d7cec7;
    text-align: center;
}